#login__form {
    margin-bottom: 20px;
}

#header {
    margin-bottom: 20px;
}

.ui.segment {
    height: 100%;
}

.image__holder {
    height: 150px;
    display: flex;
    align-items: center;
}

.image__holder--small {
    height: 50px;
    display: flex;
    align-items: center;
}

.book_link {
    display: block;
}